In [1]:
x = ("abc",)
y = ("abc")
print(x, type(x))
print(y, type(y))

('abc',) <class 'tuple'>
abc <class 'str'>

In [2]:
my_list = [1, 2, 3]
print(my_list, type(my_list))

[1, 2, 3] <class 'list'>

In [3]:
my_tuple = (1, 2, 3)
print(my_tuple, type(my_tuple))

(1, 2, 3) <class 'tuple'>

In [4]:
my_list = [1]
print(my_list, type(my_list))

[1] <class 'list'>

In [6]:
my_tuple = (1,) # Gunakan koma setelah item agar dianggap sebagai tuple
print(my_tuple, type(my_tuple))

(1,) <class 'tuple'>

In [7]:
my_list = [1, 2, 3]
my_list[1] = 9999
print(my_list)

[1, 9999, 3]

In [8]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
my_list[1] = 9999
my_tuple = tuple(my_list)
print(my_tuple)

(1, 9999, 3)

In [9]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
my_list = [i if i % 2 == 0 else "Odd" for i in my_tuple]
print(my_list)

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

In [2]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(my_tuple[:100])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)